# MERGE WHO VS LIFE VERBOSE

In [9]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np






df_le = pd.read_csv('Resources/Life_Expectancy_who.csv')
df_le.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [10]:
df_le.columns = df_le.columns.str.replace(' ', '_')

In [11]:
df_le.columns

Index(['Country', 'Year', 'Status', 'Life_expectancy_', 'Adult_Mortality',
       'infant_deaths', 'Alcohol', 'percentage_expenditure', 'Hepatitis_B',
       'Measles_', '_BMI_', 'under-five_deaths_', 'Polio', 'Total_expenditure',
       'Diphtheria_', '_HIV/AIDS', 'GDP', 'Population',
       '_thinness__1-19_years', '_thinness_5-9_years',
       'Income_composition_of_resources', 'Schooling'],
      dtype='object')

In [12]:
df_le.drop(columns=['_thinness__1-19_years','_thinness_5-9_years'], axis='columns', inplace=True)

In [13]:
df_le.head()

,Country,Year,Status,Life_expectancy_,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,Hepatitis_B,Measles_,_BMI_,under-five_deaths_,Polio,Total_expenditure,Diphtheria_,_HIV/AIDS,GDP,Population,Income_composition_of_resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,0.454,9.5

In [14]:
df = pd.read_csv('Resources/lifeexpectancy-verbose.csv')
df.head()

,index,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,0,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,68,68.0
1,1,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,EUR,Europe,WB_HI,High_income,IRL,Ireland,MLE,Male,69,69.3
2,2,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,EMR,Eastern Mediterranean,WB_LI,Low_income,YEM,Yemen,BTSX,Both sexes,61,61.0
3,3,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AFR,Africa,WB_LMI,Lower_middle_income,NGA,Nigeria,FMLE,Female,48,48.0
4,4,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,SEAR,South_East Asia,WB_LMI,Lower_middle_income,THA,Thailand,FMLE,Female,19,19.0

In [15]:
df.drop(columns=['index','GhoCode','PublishStateCode','YearCode','RegionCode','WorldBankIncomeGroupGroupCode','CountryCode','SexCode','GhoDisplay','PublishStateDisplay','DisplayValue','Numeric'], axis='columns', inplace=True)
df=df.

KeyError: "['Year'] not found in axis"

In [ ]:
df.rename(columns={'YearDisplay':'Year','CountryDisplay':'Country'}, inplace=True)

In [ ]:
df_merged_wv= pd.merge(df, df_le, on=['Country','Year'], how='inner')
df_merged_wv

In [ ]:
df_merged_wv.columns

In [ ]:
df_merged_wv.shape

In [ ]:
df_merged_wv.isna().sum()

In [ ]:
df_merged_wv.dropna(inplace=True)

In [ ]:
df_merged_wv.shape

In [ ]:
df_merged_wv.head(4)

# MERGE DRINKS VS LIFE VERBOSE

In [ ]:
drinks = pd.read_csv('Resources/drinks.csv')
drinks.head()

In [ ]:
drinks.shape

In [ ]:
df = pd.read_csv('Resources/lifeexpectancy-verbose.csv')
df.head()

In [ ]:
df.shape

In [ ]:
df.drop(columns=['index','GhoCode','PublishStateCode','YearCode','RegionCode','WorldBankIncomeGroupGroupCode','CountryCode','SexCode','PublishStateDisplay'], axis='columns', inplace=True)
df

In [ ]:
df.rename(columns={'YearDisplay':'Year','CountryDisplay':'country'}, inplace=True)

In [ ]:
df_merged_dv= pd.merge(df,drinks, on='country', how='inner')
df_merged_dv

In [ ]:
df_merged_dv.Year.value_counts()

In [ ]:
df_merged_dv.shape

In [ ]:
df_merged_dv.isna().sum()

In [ ]:
df_merged_dv.dropna(inplace=True)

In [ ]:
df_merged_dv.shape

In [ ]:
df_merged_dv.Year.value_counts()

In [ ]:
df_merged_dv.to_csv('merged_DV.csv')

## who, verbose, drinks

In [ ]:
df_who=df_le[['Life_expectancy_','Year','Alcohol','percentage_expenditure','Country']]

df_who

# MACHINE LEARNING MODEL

In [ ]:
df_merged_dv.head()

In [ ]:
df_merged_dv.rename(columns={'country':'Country'}, inplace=True)

In [ ]:
df_merged_dv=df_merged_dv[(df_merged_dv['Year']>=2000) & (df_merged_dv['Year']<=2012)]
df_merged_dv.Year.value_counts()

In [ ]:
df_final = pd.merge(df_merged_dv,df_who, on=['Year','Country'], how = 'left')

df_final.head()

In [ ]:
df_final.shape

In [ ]:
df_final.isna().sum()

In [ ]:
df_final.dropna(inplace=True)
df_final.head()

In [ ]:
df_final.to_csv('final.csv')

## machine learning neural networks

In [ ]:
df_final.drop(columns=['Numeric','Year','RegionDisplay','Country','index','Life_expectancy_'],axis=1, inplace=True)
df_final.rename(columns={'DisplayValue':'Age'}, inplace=True)
df_final.head()

In [ ]:
df_final.shape

In [ ]:
df_final.to_csv('final.csv')

In [ ]:
categories=df_final.dtypes[df_final.dtypes=='object'].index.tolist()
categories

In [ ]:
df_final[categories].nunique()

In [ ]:

enc =OneHotEncoder(sparse=False)

encode_df = pd.DataFrame(enc.fit_transform(df_final[categories]))

encode_df.columns = enc.get_feature_names(categories)
encode_df.head()

In [ ]:
#merge
df_final = df_final.merge(encode_df, left_index=True, right_index=True)
df_final = df_final.drop(categories,1)
df_final.head()

In [ ]:
X=df_final.drop(['Age'], axis=1).values
y=df_final['Age'].values

In [ ]:
print(X)
print(y)

In [ ]:
print("Shape: ", X.shape, y.shape)

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:

scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
fit_model = nn.fit(X_train,y_train,epochs=100)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
## KMEANS

In [ ]:
model = KNeighborsClassifier(n_neighbors=5)

In [ ]:
cluster = KMeans(n_clusters=3)

In [ ]:
cluster.fit(X)
cluster.score(X)

In [ ]:
X['cluster'] = cluster.predict(X)
X

## MODEL WITH MERGE_WHO_VERBOSE

In [ ]:
df_merged_wv.head(4)

In [ ]:
df_merged_wv.columns

In [ ]:
df_merged_wv.shape

In [ ]:
df_merged_wv.to_csv('merge_wv.csv')

In [ ]:
final = df_merged_wv.drop(columns=['DisplayValue','Numeric'],axis=1)
final.head()