# MERGE WHO VS LIFE VERBOSE

In [1]:
import pandas as pd
df_le = pd.read_csv('Resources/Life_Expectancy_who.csv')
df_le.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [2]:
df_le.columns = df_le.columns.str.replace(' ', '_')

In [3]:
df_le.columns

Index(['Country', 'Year', 'Status', 'Life_expectancy_', 'Adult_Mortality',
       'infant_deaths', 'Alcohol', 'percentage_expenditure', 'Hepatitis_B',
       'Measles_', '_BMI_', 'under-five_deaths_', 'Polio', 'Total_expenditure',
       'Diphtheria_', '_HIV/AIDS', 'GDP', 'Population',
       '_thinness__1-19_years', '_thinness_5-9_years',
       'Income_composition_of_resources', 'Schooling'],
      dtype='object')

In [4]:
df = pd.read_csv('Resources/lifeexpectancy-verbose.csv')
df.head()

,index,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,0,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,68,68.0
1,1,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,EUR,Europe,WB_HI,High_income,IRL,Ireland,MLE,Male,69,69.3
2,2,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,EMR,Eastern Mediterranean,WB_LI,Low_income,YEM,Yemen,BTSX,Both sexes,61,61.0
3,3,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AFR,Africa,WB_LMI,Lower_middle_income,NGA,Nigeria,FMLE,Female,48,48.0
4,4,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,SEAR,South_East Asia,WB_LMI,Lower_middle_income,THA,Thailand,FMLE,Female,19,19.0

In [5]:
df.drop(columns=['index','GhoCode','PublishStateCode','YearCode','RegionCode','WorldBankIncomeGroupGroupCode','CountryCode','SexCode'], axis='columns', inplace=True)
df

,GhoDisplay,PublishStateDisplay,YearDisplay,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,DisplayValue,Numeric
0,Life expectancy at birth (years),Published,1990,Americas,Lower_middle_income,Nicaragua,Male,68,68.00000
1,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Male,69,69.30000
2,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low_income,Yemen,Both sexes,61,61.00000
3,Life expectancy at birth (years),Published,2000,Africa,Lower_middle_income,Nigeria,Female,48,48.00000
4,Life expectancy at age 60 (years),Published,1990,South_East Asia,Lower_middle_income,Thailand,Female,19,19.00000
...,...,...,...,...,...,...,...,...,...
6403,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Lower_middle_income,Morocco,Both sexes,68,68.00000
6404,Life expectancy at age 60 (years),Published,1990,Western Pacific,Upper_middle_income,Palau,Both sexes,16,16.00000
6405,Life expectancy at birth (years),Published,1990,Africa,Low_income,Burkina Faso,Female,51,51.00000
6406,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower_middle_income,Albania,Male,64,63.50000
6407,Life expectancy at birth (years),Published,2013,Europe,NaN,Armenia,Both sexes,71,71.02699

In [6]:
df.rename(columns={'YearDisplay':'Year','CountryDisplay':'Country'}, inplace=True)

In [7]:
df_merged_wv= pd.merge(df, df_le, on=['Country','Year'], how='inner')
df_merged_wv

,GhoDisplay,PublishStateDisplay,Year,RegionDisplay,WorldBankIncomeGroupDisplay,Country,SexDisplay,DisplayValue,Numeric,Status,...,Polio,Total_expenditure,Diphtheria_,_HIV/AIDS,GDP,Population,_thinness__1-19_years,_thinness_5-9_years,Income_composition_of_resources,Schooling
0,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Male,69,69.3,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
1,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Both sexes,71,71.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
2,Life expectancy at age 60 (years),Published,2012,Europe,High_income,Ireland,Male,22,22.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
3,Life expectancy at age 60 (years),Published,2012,Europe,High_income,Ireland,Both sexes,24,24.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
4,Life expectancy at birth (years),Published,2012,Europe,High_income,Ireland,Both sexes,81,81.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4951,Life expectancy at birth (years),Published,2000,Africa,Low_income,Guinea,Both sexes,51,51.0,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8
4952,Life expectancy at birth (years),Published,2000,Africa,Low_income,Guinea,Female,52,52.0,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8
4953,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low_income,Guinea,Both sexes,43,43.2,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8
4954,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low_income,Guinea,Female,43,43.4,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8
4955,Life expectancy at age 60 (years),Published,2000,Africa,Low_income,Guinea,Both sexes,15,15.0,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8

In [8]:
df_merged_wv.columns

Index(['GhoDisplay', 'PublishStateDisplay', 'Year', 'RegionDisplay',
       'WorldBankIncomeGroupDisplay', 'Country', 'SexDisplay', 'DisplayValue',
       'Numeric', 'Status', 'Life_expectancy_', 'Adult_Mortality',
       'infant_deaths', 'Alcohol', 'percentage_expenditure', 'Hepatitis_B',
       'Measles_', '_BMI_', 'under-five_deaths_', 'Polio', 'Total_expenditure',
       'Diphtheria_', '_HIV/AIDS', 'GDP', 'Population',
       '_thinness__1-19_years', '_thinness_5-9_years',
       'Income_composition_of_resources', 'Schooling'],
      dtype='object')

In [9]:
df_merged_wv.shape

(4956, 29)

In [10]:
df_merged_wv.isna().sum()

GhoDisplay                            0
PublishStateDisplay                   0
Year                                  0
RegionDisplay                         0
WorldBankIncomeGroupDisplay        1140
Country                               0
SexDisplay                            0
DisplayValue                          0
Numeric                               0
Status                                0
Life_expectancy_                     90
Adult_Mortality                      90
infant_deaths                         0
Alcohol                              42
percentage_expenditure                0
Hepatitis_B                        1077
Measles_                              0
_BMI_                                78
under-five_deaths_                    0
Polio                                21
Total_expenditure                    75
Diphtheria_                          21
_HIV/AIDS                             0
GDP                                 795
Population                         1143
_thinness__1-19_years                78
_thinness_5-9_years                  78
Income_composition_of_resources     306
Schooling                           270
dtype: int64

In [11]:
df_merged_wv.dropna(inplace=True)

In [12]:
df_merged_wv.shape

(2076, 29)

In [13]:
df_merged_wv.head(4)

,GhoDisplay,PublishStateDisplay,Year,RegionDisplay,WorldBankIncomeGroupDisplay,Country,SexDisplay,DisplayValue,Numeric,Status,...,Polio,Total_expenditure,Diphtheria_,_HIV/AIDS,GDP,Population,_thinness__1-19_years,_thinness_5-9_years,Income_composition_of_resources,Schooling
0,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Male,69,69.3,Developed,...,95.0,8.32,95.0,0.1,49231.36254,4586897.0,0.3,0.2,0.895,18.5
1,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Both sexes,71,71.0,Developed,...,95.0,8.32,95.0,0.1,49231.36254,4586897.0,0.3,0.2,0.895,18.5
2,Life expectancy at age 60 (years),Published,2012,Europe,High_income,Ireland,Male,22,22.0,Developed,...,95.0,8.32,95.0,0.1,49231.36254,4586897.0,0.3,0.2,0.895,18.5
3,Life expectancy at age 60 (years),Published,2012,Europe,High_income,Ireland,Both sexes,24,24.0,Developed,...,95.0,8.32,95.0,0.1,49231.36254,4586897.0,0.3,0.2,0.895,18.5

# MERGE DRINKS VS LIFE VERBOSE

In [14]:
drinks = pd.read_csv('Resources/drinks.csv')
drinks.head()

,index,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,0,Afghanistan,0,0,0,0.0
1,1,Albania,89,132,54,4.9
2,2,Algeria,25,0,14,0.7
3,3,Andorra,245,138,312,12.4
4,4,Angola,217,57,45,5.9

In [15]:
drinks.shape

(193, 6)

In [16]:
df = pd.read_csv('Resources/lifeexpectancy-verbose.csv')
df.head()

,index,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,0,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,68,68.0
1,1,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,EUR,Europe,WB_HI,High_income,IRL,Ireland,MLE,Male,69,69.3
2,2,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,EMR,Eastern Mediterranean,WB_LI,Low_income,YEM,Yemen,BTSX,Both sexes,61,61.0
3,3,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AFR,Africa,WB_LMI,Lower_middle_income,NGA,Nigeria,FMLE,Female,48,48.0
4,4,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,SEAR,South_East Asia,WB_LMI,Lower_middle_income,THA,Thailand,FMLE,Female,19,19.0

In [17]:
df.shape

(6408, 17)

In [18]:
df.drop(columns=['index','GhoCode','PublishStateCode','YearCode','RegionCode','WorldBankIncomeGroupGroupCode','CountryCode','SexCode','PublishStateDisplay'], axis='columns', inplace=True)
df

,GhoDisplay,YearDisplay,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,DisplayValue,Numeric
0,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Male,68,68.00000
1,Healthy life expectancy (HALE) at birth (years),2012,Europe,High_income,Ireland,Male,69,69.30000
2,Life expectancy at birth (years),2000,Eastern Mediterranean,Low_income,Yemen,Both sexes,61,61.00000
3,Life expectancy at birth (years),2000,Africa,Lower_middle_income,Nigeria,Female,48,48.00000
4,Life expectancy at age 60 (years),1990,South_East Asia,Lower_middle_income,Thailand,Female,19,19.00000
...,...,...,...,...,...,...,...,...
6403,Life expectancy at birth (years),2000,Eastern Mediterranean,Lower_middle_income,Morocco,Both sexes,68,68.00000
6404,Life expectancy at age 60 (years),1990,Western Pacific,Upper_middle_income,Palau,Both sexes,16,16.00000
6405,Life expectancy at birth (years),1990,Africa,Low_income,Burkina Faso,Female,51,51.00000
6406,Healthy life expectancy (HALE) at birth (years),2012,Europe,Lower_middle_income,Albania,Male,64,63.50000
6407,Life expectancy at birth (years),2013,Europe,NaN,Armenia,Both sexes,71,71.02699

In [19]:
df.rename(columns={'YearDisplay':'Year','CountryDisplay':'country'}, inplace=True)

In [20]:
df_merged_dv= pd.merge(df,drinks, on='country', how='inner')
df_merged_dv

,GhoDisplay,Year,RegionDisplay,WorldBankIncomeGroupDisplay,country,SexDisplay,DisplayValue,Numeric,index,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Male,68,68.00000,122,78,118,1,3.5
1,Healthy life expectancy (HALE) at birth (years),2013,Americas,Lower_middle_income,Nicaragua,Male,62,61.90000,122,78,118,1,3.5
2,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Female,74,74.00000,122,78,118,1,3.5
3,Life expectancy at birth (years),2000,Americas,Lower_middle_income,Nicaragua,Female,76,76.00000,122,78,118,1,3.5
4,Life expectancy at birth (years),2000,Americas,Lower_middle_income,Nicaragua,Male,70,70.00000,122,78,118,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5506,Healthy life expectancy (HALE) at birth (years),2013,Europe,High_income,Belgium,Female,72,72.40000,16,295,84,212,10.5
5507,Life expectancy at age 60 (years),2000,Europe,High_income,Belgium,Both sexes,22,22.00000,16,295,84,212,10.5
5508,Life expectancy at birth (years),2000,Europe,High_income,Belgium,Male,75,75.00000,16,295,84,212,10.5
5509,Life expectancy at birth (years),2012,Europe,High_income,Belgium,Male,78,78.00000,16,295,84,212,10.5
5510,Life expectancy at birth (years),2013,Europe,NaN,Belgium,Both sexes,80,80.48828,16,295,84,212,10.5

In [21]:
df_merged_dv.Year.value_counts()

2013    1503
2000    1503
2012    1503
1990    1002
Name: Year, dtype: int64

In [22]:
df_merged_dv.shape

(5511, 13)

In [23]:
df_merged_dv.isna().sum()

GhoDisplay                         0
Year                               0
RegionDisplay                      0
WorldBankIncomeGroupDisplay     1002
country                            0
SexDisplay                         0
DisplayValue                       0
Numeric                            0
index                              0
beer_servings                      0
spirit_servings                    0
wine_servings                      0
total_litres_of_pure_alcohol       0
dtype: int64

In [24]:
df_merged_dv.dropna(inplace=True)

In [25]:
df_merged_dv.shape

(4509, 13)

In [26]:
df_merged_dv.Year.value_counts()

2000    1503
2012    1503
1990    1002
2013     501
Name: Year, dtype: int64

In [27]:
df_merged_dv.to_csv('merged_DV.csv')

## who, verbose, drinks

In [28]:
df_who=df_le[['Life_expectancy_','Year','Alcohol','percentage_expenditure','Country']]

df_who

      Life_expectancy_  Year  Alcohol  percentage_expenditure      Country
0                 65.0  2015     0.01               71.279624  Afghanistan
1                 59.9  2014     0.01               73.523582  Afghanistan
2                 59.9  2013     0.01               73.219243  Afghanistan
3                 59.5  2012     0.01               78.184215  Afghanistan
4                 59.2  2011     0.01                7.097109  Afghanistan
...                ...   ...      ...                     ...          ...
2933              44.3  2004     4.36                0.000000     Zimbabwe
2934              44.5  2003     4.06                0.000000     Zimbabwe
2935              44.8  2002     4.43                0.000000     Zimbabwe
2936              45.3  2001     1.72                0.000000     Zimbabwe
2937              46.0  2000     1.68                0.000000     Zimbabwe

[2938 rows x 5 columns]

# MACHINE LEARNING MODEL

In [29]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [30]:
df_merged_dv.head()

,GhoDisplay,Year,RegionDisplay,WorldBankIncomeGroupDisplay,country,SexDisplay,DisplayValue,Numeric,index,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Male,68,68.0,122,78,118,1,3.5
1,Healthy life expectancy (HALE) at birth (years),2013,Americas,Lower_middle_income,Nicaragua,Male,62,61.9,122,78,118,1,3.5
2,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Female,74,74.0,122,78,118,1,3.5
3,Life expectancy at birth (years),2000,Americas,Lower_middle_income,Nicaragua,Female,76,76.0,122,78,118,1,3.5
4,Life expectancy at birth (years),2000,Americas,Lower_middle_income,Nicaragua,Male,70,70.0,122,78,118,1,3.5

In [31]:
df_merged_dv.rename(columns={'country':'Country'}, inplace=True)

In [32]:
df_merged_dv=df_merged_dv[(df_merged_dv['Year']>=2000) & (df_merged_dv['Year']<=2012)]
df_merged_dv.Year.value_counts()

2000    1503
2012    1503
Name: Year, dtype: int64

In [33]:
df_final = pd.merge(df_merged_dv,df_who, on=['Year','Country'], how = 'left')

df_final.head()

,GhoDisplay,Year,RegionDisplay,WorldBankIncomeGroupDisplay,Country,SexDisplay,DisplayValue,Numeric,index,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Life_expectancy_,Alcohol,percentage_expenditure
0,Life expectancy at birth (years),2000,Americas,Lower_middle_income,Nicaragua,Female,76,76.0,122,78,118,1,3.5,73.0,3.61,15.255188
1,Life expectancy at birth (years),2000,Americas,Lower_middle_income,Nicaragua,Male,70,70.0,122,78,118,1,3.5,73.0,3.61,15.255188
2,Life expectancy at age 60 (years),2000,Americas,Lower_middle_income,Nicaragua,Male,21,21.0,122,78,118,1,3.5,73.0,3.61,15.255188
3,Life expectancy at age 60 (years),2000,Americas,Lower_middle_income,Nicaragua,Female,24,24.0,122,78,118,1,3.5,73.0,3.61,15.255188
4,Life expectancy at age 60 (years),2000,Americas,Lower_middle_income,Nicaragua,Both sexes,22,22.0,122,78,118,1,3.5,73.0,3.61,15.255188

In [34]:
df_final.shape

(3006, 16)

In [35]:
df_final.isna().sum()

GhoDisplay                        0
Year                              0
RegionDisplay                     0
WorldBankIncomeGroupDisplay       0
Country                           0
SexDisplay                        0
DisplayValue                      0
Numeric                           0
index                             0
beer_servings                     0
spirit_servings                   0
wine_servings                     0
total_litres_of_pure_alcohol      0
Life_expectancy_                198
Alcohol                         198
percentage_expenditure          198
dtype: int64

In [36]:
df_final.dropna(inplace=True)
df_final.head()

,GhoDisplay,Year,RegionDisplay,WorldBankIncomeGroupDisplay,Country,SexDisplay,DisplayValue,Numeric,index,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Life_expectancy_,Alcohol,percentage_expenditure
0,Life expectancy at birth (years),2000,Americas,Lower_middle_income,Nicaragua,Female,76,76.0,122,78,118,1,3.5,73.0,3.61,15.255188
1,Life expectancy at birth (years),2000,Americas,Lower_middle_income,Nicaragua,Male,70,70.0,122,78,118,1,3.5,73.0,3.61,15.255188
2,Life expectancy at age 60 (years),2000,Americas,Lower_middle_income,Nicaragua,Male,21,21.0,122,78,118,1,3.5,73.0,3.61,15.255188
3,Life expectancy at age 60 (years),2000,Americas,Lower_middle_income,Nicaragua,Female,24,24.0,122,78,118,1,3.5,73.0,3.61,15.255188
4,Life expectancy at age 60 (years),2000,Americas,Lower_middle_income,Nicaragua,Both sexes,22,22.0,122,78,118,1,3.5,73.0,3.61,15.255188

In [37]:
df_final.to_csv('final.csv')

## machine learning neural networks

In [38]:
df_final.drop(columns=['Numeric','Year','RegionDisplay','Country','index','Life_expectancy_'],axis=1, inplace=True)
df_final.rename(columns={'DisplayValue':'Age'}, inplace=True)
df_final.head()

,GhoDisplay,WorldBankIncomeGroupDisplay,SexDisplay,Age,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Alcohol,percentage_expenditure
0,Life expectancy at birth (years),Lower_middle_income,Female,76,78,118,1,3.5,3.61,15.255188
1,Life expectancy at birth (years),Lower_middle_income,Male,70,78,118,1,3.5,3.61,15.255188
2,Life expectancy at age 60 (years),Lower_middle_income,Male,21,78,118,1,3.5,3.61,15.255188
3,Life expectancy at age 60 (years),Lower_middle_income,Female,24,78,118,1,3.5,3.61,15.255188
4,Life expectancy at age 60 (years),Lower_middle_income,Both sexes,22,78,118,1,3.5,3.61,15.255188

In [52]:
df_final.shape

(2628, 17)

In [51]:
df_final.to_csv('final.csv')

In [39]:
categories=df_final.dtypes[df_final.dtypes=='object'].index.tolist()
categories

['GhoDisplay', 'WorldBankIncomeGroupDisplay', 'SexDisplay']

In [40]:
df_final[categories].nunique()

GhoDisplay                     3
WorldBankIncomeGroupDisplay    4
SexDisplay                     3
dtype: int64

In [41]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder

enc =OneHotEncoder(sparse=False)

encode_df = pd.DataFrame(enc.fit_transform(df_final[categories]))

encode_df.columns = enc.get_feature_names(categories)
encode_df.head()

/Users/joseco/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,GhoDisplay_Healthy life expectancy (HALE) at birth (years),GhoDisplay_Life expectancy at age 60 (years),GhoDisplay_Life expectancy at birth (years),WorldBankIncomeGroupDisplay_High_income,WorldBankIncomeGroupDisplay_Low_income,WorldBankIncomeGroupDisplay_Lower_middle_income,WorldBankIncomeGroupDisplay_Upper_middle_income,SexDisplay_Both sexes,SexDisplay_Female,SexDisplay_Male
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [42]:
#merge
df_final = df_final.merge(encode_df, left_index=True, right_index=True)
df_final = df_final.drop(categories,1)
df_final.head()

/Users/joseco/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Alcohol,percentage_expenditure,GhoDisplay_Healthy life expectancy (HALE) at birth (years),GhoDisplay_Life expectancy at age 60 (years),GhoDisplay_Life expectancy at birth (years),WorldBankIncomeGroupDisplay_High_income,WorldBankIncomeGroupDisplay_Low_income,WorldBankIncomeGroupDisplay_Lower_middle_income,WorldBankIncomeGroupDisplay_Upper_middle_income,SexDisplay_Both sexes,SexDisplay_Female,SexDisplay_Male
0,76,78,118,1,3.5,3.61,15.255188,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,70,78,118,1,3.5,3.61,15.255188,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,21,78,118,1,3.5,3.61,15.255188,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,24,78,118,1,3.5,3.61,15.255188,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,22,78,118,1,3.5,3.61,15.255188,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [43]:
X=df_final.drop(['Age'], axis=1).values
y=df_final['Age'].values

In [44]:
print(X)
print(y)

[[ 78. 118.   1. ...   0.   1.   0.]
 [ 78. 118.   1. ...   0.   0.   1.]
 [ 78. 118.   1. ...   0.   0.   1.]
 ...
 [  0.   0.   0. ...   1.   0.   0.]
 [  0.   0.   0. ...   0.   0.   1.]
 [  0.   0.   0. ...   0.   0.   1.]]
[76 70 21 ... 60 49 54]

In [45]:
print("Shape: ", X.shape, y.shape)

Shape:  (2628, 16) (2628,)

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [47]:
import matplotlib.pyplot as plt
import tensorflow as tf

scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [53]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 6
=================================================================
Total params: 187
Trainable params: 187
Non-trainable params: 0
_________________________________________________________________

In [54]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [55]:
fit_model = nn.fit(X_train,y_train,epochs=100)

Train on 1971 samples
Epoch 1/100
1971/1971 [==============================] - 1s 279us/sample - loss: -17113.6535 - accuracy: 0.0000e+00
Epoch 2/100
1971/1971 [==============================] - 0s 32us/sample - loss: -29376.4342 - accuracy: 0.0000e+00
Epoch 3/100
1971/1971 [==============================] - 0s 41us/sample - loss: -50152.2608 - accuracy: 0.0000e+00
Epoch 4/100
1971/1971 [==============================] - 0s 35us/sample - loss: -94904.7084 - accuracy: 0.0000e+00
Epoch 5/100
1971/1971 [==============================] - 0s 37us/sample - loss: -168578.6785 - accuracy: 0.0000e+00
Epoch 6/100
1971/1971 [==============================] - 0s 35us/sample - loss: -287984.3866 - accuracy: 0.0000e+00
Epoch 7/100
1971/1971 [==============================] - 0s 35us/sample - loss: -477262.0943 - accuracy: 0.0000e+00
Epoch 8/100
1971/1971 [==============================] - 0s 36us/sample - loss: -760396.6603 - accuracy: 0.0000e+00
Epoch 9/100
1971/1971 [==============================] - 0s 45us/sample - loss: -1131769.2632 - accuracy: 0.0000e+00
Epoch 10/100
1971/1971 [==============================] - 0s 42us/sample - loss: -1598558.4142 - accuracy: 0.0000e+00
Epoch 11/100
1971/1971 [==============================] - 0s 35us/sample - loss: -2162535.6810 - accuracy: 0.0000e+00
Epoch 12/100
1971/1971 [==============================] - 0s 34us/sample - loss: -2844525.8440 - accuracy: 0.0000e+00
Epoch 13/100
1971/1971 [==============================] - 0s 36us/sample - loss: -3637687.9179 - accuracy: 0.0000e+00
Epoch 14/100
1971/1971 [==============================] - 0s 36us/sample - loss: -4556982.2705 - accuracy: 0.0000e+00
Epoch 15/100
1971/1971 [==============================] - 0s 40us/sample - loss: -5616519.5076 - accuracy: 0.0000e+00
Epoch 16/100
1971/1971 [==============================] - 0s 36us/sample - loss: -6839564.3526 - accuracy: 0.0000e+00
Epoch 17/100
1971/1971 [==============================] - 0s 46us/sample - loss: -8322964.0830 - accuracy: 0.0000e+00
Epoch 18/100
1971/1971 [==============================] - 0s 42us/sample - loss: -9989966.2651 - accuracy: 0.0000e+00
Epoch 19/100
1971/1971 [==============================] - 0s 37us/sample - loss: -11831528.1715 - accuracy: 0.0000e+00
Epoch 20/100
1971/1971 [==============================] - 0s 36us/sample - loss: -13875184.3201 - accuracy: 0.0000e+00
Epoch 21/100
1971/1971 [==============================] - 0s 36us/sample - loss: -16141599.3343 - accuracy: 0.0000e+00
Epoch 22/100
1971/1971 [==============================] - 0s 35us/sample - loss: -18594760.7311 - accuracy: 0.0000e+00
Epoch 23/100
1971/1971 [==============================] - 0s 35us/sample - loss: -21248431.1426 - accuracy: 0.0000e+00
Epoch 24/100
1971/1971 [==============================] - 0s 36us/sample - loss: -24127414.2598 - accuracy: 0.0000e+00
Epoch 25/100
1971/1971 [==============================] - 0s 44us/sample - loss: -27210049.5170 - accuracy: 0.0000e+00
Epoch 26/100
1971/1971 [==============================] - 0s 38us/sample - loss: -30545970.0599 - accuracy: 0.0000e+00
Epoch 27/100
1971/1971 [==============================] - 0s 35us/sample - loss: -34060668.0365 - accuracy: 0.0000e+00
Epoch 28/100
1971/1971 [==============================] - 0s 37us/sample - loss: -37838573.8569 - accuracy: 0.0000e+00
Epoch 29/100
1971/1971 [==============================] - 0s 36us/sample - loss: -41812442.9559 - accuracy: 0.0000e+00
Epoch 30/100
1971/1971 [==============================] - 0s 35us/sample - loss: -46022234.7296 - accuracy: 0.0000e+00
Epoch 31/100
1971/1971 [==============================] - 0s 35us/sample - loss: -50508905.7737 - accuracy: 0.0000e+00
Epoch 32/100
1971/1971 [==============================] - 0s 36us/sample - loss: -55211814.9001 - accuracy: 0.0000e+00
Epoch 33/100
1971/1971 [==============================] - 0s 35us/sample - loss: -60201077.8711 - accuracy: 0.0000e+00
Epoch 34/100
1971/1971 [==============================] - 0s 35us/sample - loss: -65379837.6459 - accuracy: 0.0000e+00
Epoch 35/100
1971/1971 [==============================] - 0s 38us/sample - loss: -70832914.2405 - accuracy: 0.0000e+00
Epoch 36/100
1971/1971 [==============================] - 0s 37us/sample - loss: -76546219.1152 - accuracy: 0.0000e+00
Epoch 37/100
1971/1971 [==============================] - 0s 37us/sample - loss: -82487544.5561 - accuracy: 0.0000e+00
Epoch 38/100
1971/1971 [==============================] - 0s 39us/sample - loss: -88657022.0254 - accuracy: 0.0000e+00
Epoch 39/100
1971/1971 [==============================] - 0s 39us/sample - loss: -95096264.2314 - accuracy: 0.0000e+00
Epoch 40/100
1971/1971 [==============================] - 0s 38us/sample - loss: -101813865.1487 - accuracy: 0.0000e+00
Epoch 41/100
1971/1971 [==============================] - 0s 36us/sample - loss: -108813146.6545 - accuracy: 0.0000e+00
Epoch 42/100
1971/1971 [==============================] - 0s 37us/sample - loss: -115999030.8676 - accuracy: 0.0000e+00
Epoch 43/100
1971/1971 [==============================] - 0s 35us/sample - loss: -123521742.3359 - accuracy: 0.0000e+00
Epoch 44/100
1971/1971 [==============================] - 0s 35us/sample - loss: -131250308.0020 - accuracy: 0.0000e+00
Epoch 45/100
1971/1971 [==============================] - 0s 36us/sample - loss: -139304341.7636 - accuracy: 0.0000e+00
Epoch 46/100
1971/1971 [==============================] - 0s 37us/sample - loss: -147578199.2004 - accuracy: 0.0000e+00
Epoch 47/100
1971/1971 [==============================] - 0s 35us/sample - loss: -156202373.1953 - accuracy: 0.0000e+00
Epoch 48/100
1971/1971 [==============================] - 0s 39us/sample - loss: -165048308.9883 - accuracy: 0.0000e+00
Epoch 49/100
1971/1971 [==============================] - 0s 36us/sample - loss: -174196584.5479 - accuracy: 0.0000e+00
Epoch 50/100
1971/1971 [==============================] - 0s 35us/sample - loss: -183558090.9346 - accuracy: 0.0000e+00
Epoch 51/100
1971/1971 [==============================] - 0s 35us/sample - loss: -193269423.7808 - accuracy: 0.0000e+00
Epoch 52/100
1971/1971 [==============================] - 0s 35us/sample - loss: -203188310.5348 - accuracy: 0.0000e+00
Epoch 53/100
1971/1971 [==============================] - 0s 35us/sample - loss: -213494295.0462 - accuracy: 0.0000e+00
Epoch 54/100
1971/1971 [==============================] - 0s 35us/sample - loss: -224015517.0127 - accuracy: 0.0000e+00
Epoch 55/100
1971/1971 [==============================] - 0s 35us/sample - loss: -234809221.8691 - accuracy: 0.0000e+00
Epoch 56/100
1971/1971 [==============================] - 0s 34us/sample - loss: -245856656.7225 - accuracy: 0.0000e+00
Epoch 57/100
1971/1971 [==============================] - 0s 35us/sample - loss: -257214688.5195 - accuracy: 0.0000e+00
Epoch 58/100
1971/1971 [==============================] - 0s 35us/sample - loss: -268844373.4064 - accuracy: 0.0000e+00
Epoch 59/100
1971/1971 [==============================] - 0s 35us/sample - loss: -280766995.2877 - accuracy: 0.0000e+00
Epoch 60/100
1971/1971 [==============================] - 0s 34us/sample - loss: -292941261.4754 - accuracy: 0.0000e+00
Epoch 61/100
1971/1971 [==============================] - 0s 35us/sample - loss: -305560262.7864 - accuracy: 0.0000e+00
Epoch 62/100
1971/1971 [==============================] - 0s 35us/sample - loss: -318312626.8087 - accuracy: 0.0000e+00
Epoch 63/100
1971/1971 [==============================] - 0s 34us/sample - loss: -331339106.4515 - accuracy: 0.0000e+00
Epoch 64/100
1971/1971 [==============================] - 0s 34us/sample - loss: -344736243.3283 - accuracy: 0.0000e+00
Epoch 65/100
1971/1971 [==============================] - 0s 35us/sample - loss: -358399102.0680 - accuracy: 0.0000e+00
Epoch 66/100
1971/1971 [==============================] - 0s 35us/sample - loss: -372391573.0736 - accuracy: 0.0000e+00
Epoch 67/100
1971/1971 [==============================] - 0s 35us/sample - loss: -386651740.4729 - accuracy: 0.0000e+00
Epoch 68/100
1971/1971 [==============================] - 0s 36us/sample - loss: -401259854.3521 - accuracy: 0.0000e+00
Epoch 69/100

1971/1971 [==============================] - 0s 36us/sample - loss: -416173817.0188 - accuracy: 0.0000e+00
Epoch 70/100
1971/1971 [==============================] - 0s 35us/sample - loss: -431404034.3704 - accuracy: 0.0000e+00
Epoch 71/100
1971/1971 [==============================] - 0s 35us/sample - loss: -446964516.2050 - accuracy: 0.0000e+00
Epoch 72/100
1971/1971 [==============================] - 0s 34us/sample - loss: -462790762.3744 - accuracy: 0.0000e+00
Epoch 73/100
1971/1971 [==============================] - 0s 40us/sample - loss: -479037309.5322 - accuracy: 0.0000e+00
Epoch 74/100
1971/1971 [==============================] - 0s 40us/sample - loss: -495563795.4825 - accuracy: 0.0000e+00
Epoch 75/100
1971/1971 [==============================] - 0s 35us/sample - loss: -512505089.6235 - accuracy: 0.0000e+00
Epoch 76/100
1971/1971 [==============================] - 0s 36us/sample - loss: -529731465.6763 - accuracy: 0.0000e+00
Epoch 77/100
1971/1971 [==============================] - 0s 35us/sample - loss: -547298934.8595 - accuracy: 0.0000e+00
Epoch 78/100
1971/1971 [==============================] - 0s 34us/sample - loss: -565242301.2725 - accuracy: 0.0000e+00
Epoch 79/100
1971/1971 [==============================] - 0s 35us/sample - loss: -583374491.7463 - accuracy: 0.0000e+00
Epoch 80/100
1971/1971 [==============================] - 0s 34us/sample - loss: -601890468.0426 - accuracy: 0.0000e+00
Epoch 81/100
1971/1971 [==============================] - 0s 35us/sample - loss: -620757891.0198 - accuracy: 0.0000e+00
Epoch 82/100
1971/1971 [==============================] - 0s 34us/sample - loss: -639993480.0528 - accuracy: 0.0000e+00
Epoch 83/100
1971/1971 [==============================] - 0s 35us/sample - loss: -659562264.2070 - accuracy: 0.0000e+00
Epoch 84/100
1971/1971 [==============================] - 0s 35us/sample - loss: -679289752.5479 - accuracy: 0.0000e+00
Epoch 85/100
1971/1971 [==============================] - 0s 44us/sample - loss: -699500572.8666 - accuracy: 0.0000e+00
Epoch 86/100
1971/1971 [==============================] - 0s 40us/sample - loss: -720161190.5429 - accuracy: 0.0000e+00
Epoch 87/100
1971/1971 [==============================] - 0s 39us/sample - loss: -741007475.5312 - accuracy: 0.0000e+00
Epoch 88/100
1971/1971 [==============================] - 0s 35us/sample - loss: -762402492.1035 - accuracy: 0.0000e+00
Epoch 89/100
1971/1971 [==============================] - 0s 34us/sample - loss: -783932506.1390 - accuracy: 0.0000e+00
Epoch 90/100
1971/1971 [==============================] - 0s 38us/sample - loss: -805960724.3917 - accuracy: 0.0000e+00
Epoch 91/100
1971/1971 [==============================] - 0s 37us/sample - loss: -828273940.8463 - accuracy: 0.0000e+00
Epoch 92/100
1971/1971 [==============================] - 0s 36us/sample - loss: -850936211.1578 - accuracy: 0.0000e+00
Epoch 93/100
1971/1971 [==============================] - 0s 35us/sample - loss: -874241323.1213 - accuracy: 0.0000e+00
Epoch 94/100
1971/1971 [==============================] - 0s 34us/sample - loss: -897438347.3323 - accuracy: 0.0000e+00
Epoch 95/100
1971/1971 [==============================] - 0s 34us/sample - loss: -921266157.6540 - accuracy: 0.0000e+00
Epoch 96/100
1971/1971 [==============================] - 0s 34us/sample - loss: -945209927.4358 - accuracy: 0.0000e+00
Epoch 97/100
1971/1971 [==============================] - 0s 37us/sample - loss: -969468390.9001 - accuracy: 0.0000e+00
Epoch 98/100
1971/1971 [==============================] - 0s 35us/sample - loss: -994244226.7275 - accuracy: 0.0000e+00
Epoch 99/100
1971/1971 [==============================] - 0s 34us/sample - loss: -1019349038.3683 - accuracy: 0.0000e+00
Epoch 100/100
1971/1971 [==============================] - 0s 34us/sample - loss: -1044858827.2674 - accuracy: 0.0000e+00

In [56]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

657/1 - 0s - loss: -7.8656e+08 - accuracy: 0.0000e+00
Loss: -991928257.0715373, Accuracy: 0.0